.tab {
  height: 40px;
  border: 1px solid #dddbd7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background-color: #efeeec;
  cursor: pointer;
}

.tab-active {
  border-bottom-color: #efeeec;
}
.tab-count {
  position: absolute;
  right: 2px;
  bottom: 2px;
  font-size: 0.9rem;
}
.tab-value {
  font-size: 2.4rem;
  font-weight: 500;
}

.tab-value-disabled {
  color: #cfcbc6;
}
.tab-count-disabled {
  color: #cfcbc6;
}

/* sm  */
@media (max-width: 640px) {
  .tab {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .tab-count {
    font-size: 0.6rem;
  }
  .tab-value {
    font-size: 1.8rem;
  }
}

/* md */
@media (min-width: 768px) {
  .tab {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
/* lg */
@media (min-width: 1024px) {
  .tab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
