.contact-card {
  background-color: #efeeec;
  height: 100%;
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: grid;
  padding: 10px;
  column-gap: 20px;
}

.img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: contain;
  margin-top: 10px;
}

.img-grid {
  grid-column: unset;
}

.info-grid {
  grid-column: unset;
}

.name-box {
  color: #c4c1bc;
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.info-box {
  display: grid;
  grid-template-columns: [label-start] max-content [label-end value-start] 1fr [value-end];
  column-gap: 10px;
  row-gap: 5px;
  font-size: 1.4rem;
}

.label {
  font-weight: 700;
}

.value {
  grid-column: value-start/value-end;
}

/* sm  */
@media (min-width: 640px) {
  .contact-card {
    grid-template-columns: [img-grid] 1fr [img-grid-end info-grid] 11fr [info-grid-end];
    height: 200px;
  }
  .img-grid {
    grid-column: img-grid/img-grid-end;
  }

  .info-grid {
    grid-column: info-grid/info-grid-end;
  }
}

/* md */
@media (min-width: 768px) {
}
/* lg */
@media (min-width: 1024px) {
}
